{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dropify.min.css') }}">
{% endblock %}

{% block body %}
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2>Veuillez cocher cette case pour valider l'utilisateur enregistrer avec cet email {{ user.email }} </h2>
                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_widget(form.actif) }}
                                </div>
                                <button class="btn btn-success" onsubmit="return confirm('Etes-vous de bien vouloir activer cette utilisateur ?')">{{ button_label|default('Valider') }}</button>
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dropify.min.js') }}"></script>
    <script src="{{ asset('js/dropifyForm.js') }}"></script>

    <script src="{{ asset('bundles/mainscripts.bundle.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
