{% extends 'base.html.twig' %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-3 col-md-12">
            {% if residents is defined %}
                <h3>Prendre un rendez vous pour:</h3>
                <ul>
                    {% for resident in residents %}
                        <li><a href="{{ path('visio_new', {'id':resident.id})}}">{{ resident.nom }} {{ resident.prenom }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if noResident is defined %}
                <h5>Vous n'êtes ratacher a aucun résident, souhaiter vous en ajouter un ?</h5>
            {% endif %}
            {% if visios is defined %}
                <h5>Accédes à vos rendez-vous en visio</h5>
                {% for visio in visios %}
                    {% dump(visio) %}
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle"></h6>
                        <p class="card-text">Visio prévu avec {% for participant in visio.participant %} {{ participant.nom }} {% endfor %} le {{ visio.startAt|date('d/m/y') }} à {{ visio.startAt|date('H:i') }}h</p>
                        {% if visio.actif == true and date(visio.startAt) < date('now', 'UTC')|date_modify('+120 minutes') and date(visio.endAt) > date('now', 'UTC')|date_modify('+120 minutes') %}
                        <a href="{{ path('openVisio', {'url': visio.url, 'id': visio.id}) }}" class="card-link">Acceder au visio</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/chartist.bundle.js') }}"></script>
    <script src="{{ asset('bundles/knob.bundle.js') }}"></script> <!-- Jquery Knob-->
    <script src="{{ asset('bundles/flotscripts.bundle.js') }}"></script> <!-- flot charts Plugin Js -->
    <script src="{{ asset('bundles/toastr.js') }}" ></script>
    <script src="{{ asset('bundles/jquery.flot.selection.js') }}"></script>
    <script src="{{ asset('bundles/mainscripts.bundle.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
