{% extends 'baseAdmin.html.twig' %}



{% block body %}
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-8">
                        <div class="card">
                            <div class="body">
                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-6">
                                        <div id="Visitors_chart1" class="carousel slide" data-ride="carousel" data-interval="2000">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="body xl-turquoise">
                                                        <h4>Comptes inactif</h4>
                                                        <span>{{ comptes }}</span>
                                                    </div>
                                                </div>
                                                <div class="carousel-item ">
                                                    <div class="carousel-inner">
                                                        <div class="body xl-parpl">
                                                            <h4>Etablissement</h4>
                                                            <span>{{ stats.ehpads }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="carousel-item ">
                                                    <div class="carousel-inner">
                                                        <div class="body xl-salmon">
                                                            <h4>Nombre de familles</h4>
                                                            <span>{{ stats.familles }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="carousel-item ">
                                                    <div class="carousel-inner">
                                                        <div class="body xl-slategray">
                                                            <h4>Nombre de résidents</h4>
                                                            <span>{{ stats.residents }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2>Total Revenue</h2>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/chartist.bundle.js') }}"></script>
    <script src="{{ asset('bundles/knob.bundle.js') }}"></script> <!-- Jquery Knob-->
    <script src="{{ asset('bundles/flotscripts.bundle.js') }}"></script> <!-- flot charts Plugin Js -->
    <script src="{{ asset('bundles/toastr.js') }}" ></script>
    <script src="{{ asset('bundles/jquery.flot.selection.js') }}"></script>
    <script src="{{ asset('bundles/mainscripts.bundle.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
