{% extends 'base.html.twig' %}

{% block title %}Hello FamilleController!{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css" />
    <link rel="stylesheet" href="{{ asset('css/pickadate.css') }}" />


{% endblock %}
{% block body %}
    <div class="row clearfix">
        <div class="col-lg-3 col-md-12">
            <h3>Prendre Rdv</h3>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.jour) }}
                {{ form_widget(form.jour) }}
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    {{ form_widget(form.heure) }}
                </div>
            </div>
            <button class="btn btn-success mt-5">{{ button_label|default('Ajouter') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mainscripts.bundle.js') }}"></script>
    <script src="{{ asset('js/datepicker.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
    <script src="{{ asset('js/pickadate.js') }}"></script>
    <script>
        const picker = $('.timepicker')
        picker.pickatime({
            format: 'H:i',
        })
        $(picker).click(function () {
            $('.picker--time').toggle();
        })
        $(document).on('change', '#visio_form_jour', function () {
            let $field = $(this);
            let $form = $field.closest('form' )
            let data = {}
            data[$field.attr('name')] = $field.val();
            $.post($form.attr('action'), data).then(function (data) {
                let $pickatime =  $(data).find('.timepicker')
                let $datas = $($pickatime).attr('data-heure');
                let $datasSplit = $datas.split(';')
                let restri = [];
                let finalRestri;
                let pickatimePicker = $('.timepicker').pickatime('picker')
                if($datasSplit.length > 2){
                    for(let $i = 0; $i < $datasSplit.length; $i++){
                        if($datasSplit[$i].length !==0){
                            let str='';
                            str = $datasSplit[$i];
                            let heure = '';
                            heure = str.split("|");
                            let json = {
                                from: [
                                    parseInt(heure[0].split(':')[0],10),
                                    parseInt(heure[0].split(':')[1],10)
                                ],
                                to: [
                                    parseInt(heure[1].split(':')[0],10),
                                    parseInt(heure[1].split(':')[1],10)
                                ]
                            };
                            restri.push(json);
                        }
                    }
                    finalRestri = [
                        { from: restri[0].to, to: restri[1].from }
                    ]
                    pickatimePicker.set('min', restri[0].from)
                    pickatimePicker.set('max', restri[1].to)
                    pickatimePicker.set('disable', finalRestri)
                }else{
                    let str = $datasSplit[0].split('|')
                    let min = [parseInt(str[0].split(':')[0],10), parseInt(str[0].split(':')[1],10)]
                    let max = [parseInt(str[1].split(':')[0],10), parseInt(str[1].split(':')[1],10)]
                    console.log(min)
                    console.log(max)
                    pickatimePicker.set('min', min)
                    pickatimePicker.set('max', max)
                }

            })
        })



    </script>
{% endblock %}
