{% extends 'base.html.twig' %}

{% block title %}Hello FamilleController!{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css" />
{% endblock %}
{% block body %}
    <div class="row clearfix">
        <div class="col-lg-3 col-md-12">
            <h3>Prendre Rdv</h3>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.jour) }}
                {{ form_widget(form.jour) }}
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-clock"></i></span>
                    </div>
                    {{ form_widget(form.heure, {'attr':{'class': 'form-control time24', 'placeholder':'Ex: 23:59'}}) }}
                </div>
            </div>
            <button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/chartist.bundle.js') }}"></script>
    <script src="{{ asset('bundles/knob.bundle.js') }}"></script> <!-- Jquery Knob-->
    <script src="{{ asset('bundles/flotscripts.bundle.js') }}"></script> <!-- flot charts Plugin Js -->
    <script src="{{ asset('bundles/toastr.js') }}" ></script>
    <script src="{{ asset('bundles/jquery.flot.selection.js') }}"></script>
    <script src="{{ asset('bundles/mainscripts.bundle.js') }}"></script>
    <script src="{{ asset('js/datepicker.js') }}"></script>
    <script src="{{ asset('js/inputmask.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>

    <script>
        $('#visio_form_heure').clockpicker();
    </script>
{% endblock %}
