<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>


        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/chartist.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/toastr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/color_skins.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <body class="theme-cyan">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="{{ asset('images/Logo-eSeth-Family-Fond-Blanc.png') }}" alt="Logo eseath Familly"></div>
            <p>Patience Patience :D ...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->

    <div id="wrapper">

        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-brand">
                    <a href="{{ path('defaultLogged') }}"><img src="{{ asset('images/Logo-eSeth-Family-Fond-Blanc.png') }}" alt="Lucid Logo" class="img-responsive logo"></a>
                </div>

                <div class="navbar-right">

                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ path('app_logout') }}" class="icon-menu"><i class="icon-login"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div id="left-sidebar" class="sidebar">
            <div class="sidebar-scroll">
                <div class="user-account">
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu">Menu</a></li>
                </ul>
                {% if ehpad is not defined %}
                    {%  set ehpad = '' %}
                {% endif %}
                <!-- Tab panes -->
                <div class="tab-content p-l-0 p-r-0">
                    <div class="tab-pane active" id="menu">
                        <nav class="sidebar-nav">
                            <ul class="main-menu metismenu">
                                {% if is_granted('ROLE_ADMIN') %}

                                <li class="{{ main == 'ehpad' ? 'active':''}}"><a href="javascript:void(0);" class="has-arrow"><i class="fa fa-building"></i><span>Ehpads</span> </a>
                                    <ul>
                                        <li class="{{ child == 'new' and main == 'ehpad' ? 'active':''}}"><a href="{{ path('ehpad_new') }}">Ajouter un ehpad</a></li>
                                        <li class="{{ child == 'show' and main == 'ehpad' ? 'active':''}}"><a href="{{ path('ehpad_index') }}">Voir tout les ehpad</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li class="{{ main == 'resident' ? 'active':''}}"><a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Residents</span> </a>
                                    <ul>
                                        <li class="{{ child == 'new' and main == 'resident' ? 'active':''}}"><a href="{{ path('resident_new', {'ehpad': ehpad}) }}">Ajouter un résident</a></li>
                                        <li class="{{ child == 'show' and main == 'resident' ? 'active':''}}"><a href="{{ path('resident_index', {'ehpad': ehpad}) }}">Voir tout les résidents</a></li>
                                        <li class="{{ child == 'excel' and main == 'resident' ? 'active':''}}"><a href="{{ path('resident_setExcel', {'ehpad': ehpad}) }}">Inséré des résidents a partir d'un fichier excel</a></li>
                                        <li class="{{ child == 'getexcel' and main == 'resident' ? 'active':''}}"><a href="{{ path('resident_getExcel', {'ehpad': ehpad}) }}">Récupéré des résidents</a></li>
                                    </ul>
                                </li>
                                <li class="{{ main == 'Rdv' ? 'active':''}}"><a href="javascript:void(0);" class="has-arrow"><i class="fa fa-calendar"></i><span>Rendez-vous</span> </a>
                                    <ul>
{#                                        <li class="{{ child == 'new' and main == 'Rdv' ? 'active':''}}"><a href="{{ path('visio_new', {'ehpad': ehpad}) }}">Crée un visio</a></li>#}
                                        <li class="{{ child == 'show' and main == 'Rdv' ? 'active':''}}"><a href="{{ path('visio_employe_index', {'ehpad': ehpad}) }}">Visio validé</a></li>
                                        <li class="{{ child == 'excel' and main == 'Rdv' ? 'active':''}}"><a href="{{ path('visio_unactif', {'ehpad': ehpad}) }}">Valider un visio</a></li>
{#                                        <li class="{{ child == 'getexcel' and main == 'Rdv' ? 'active':''}}"><a href="{{ path('visio delete', {'ehpad': ehpad}) }}">Supprimer un visio</a></li>#}
                                    </ul>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="{{ main == 'user' ? 'active':''}}"><a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Utilisateurs</span> </a>
                                    <ul>
                                        <li class="{{ child == 'new' and main == 'user' ? 'active':''}}"><a href="{{ path('admin_addUser') }}">Ajouter un utilisateur</a></li>
                                        <li class="{{ child == 'show' and main == 'user' ? 'active':''}}"><a href="{{ path('admin_showAllUser') }}">Voir tous les utilisateurs</a></li>
                                        <li class="{{ child == 'validate' and main == 'user' ? 'active':''}}"><a href="{{ path('admin_validateUser') }}">Valider un utilisateur</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li class="{{ main == 'user' ? 'active':''}}"><a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Famille</span> </a>
                                    <ul>
                                        <li class="{{ child == 'new' and main == 'user' ? 'active':''}}"><a href="{{ path('employe_addUser', {'ehpad': ehpad}) }}">Ajouter un utilisateur "Famille"</a></li>
                                        <li class="{{ child == 'show' and main == 'user' ? 'active':''}}"><a href="{{ path('employe_showAllUser', {'ehpad': ehpad}) }}">Voir tous les membres "Famille"</a></li>
                                        <li class="{{ child == 'validate' and main == 'user' ? 'active':''}}"><a href="{{ path('employe_validateUser', {'ehpad': ehpad}) }}">Valider un utilisateur "Famille"</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li class="{{ main == 'Demandes' ? 'active':''}}"> <a href="javascript:void(0);" class="has-arrow"><i class="icon-user-follow"></i><span>Demandes</span> </a>
                                    <ul>
                                        <li class="{{ child == 'new' and main == 'resident' ? 'active':''}}"><a href="{{ path('show_DemandesEhpad', {'ehpad': ehpad}) }}">Demandes d'ajout d'ehpad</a></li>
                                        <li class="{{ child == 'show' and main == 'resident' ? 'active':''}}"><a href="{{ path('show_DemandesResident', {'ehpad': ehpad}) }}">Demandes d'ajout de resident</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div id="main-content">
            <div class="container-fluid">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12">
                            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Dashboard</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('defaultLogged') }}"><i class="icon-home"></i></a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ul>
                        </div>
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

        {% block body %}{% endblock %}
            </div>
        </div>
    </div>
        <script src="{{ asset('bundles/libscripts.bundle.js') }}"></script>
        <script src="{{ asset('bundles/vendorscripts.bundle.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
