{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Lier  Résident & Famille</h2>
                    {{ include('employe/resident/_formResident.html.twig') }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/chartist.bundle.js') }}"></script>
    <script src="{{ asset('bundles/knob.bundle.js') }}"></script> <!-- Jquery Knob-->
    <script src="{{ asset('bundles/flotscripts.bundle.js') }}"></script> <!-- flot charts Plugin Js -->
    <script src="{{ asset('bundles/toastr.js') }}" ></script>
    <script src="{{ asset('bundles/jquery.flot.selection.js') }}"></script>
    <script src="{{ asset('bundles/mainscripts.bundle.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}
