{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom, {'attr':{'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.prenom) }}
    {{ form_widget(form.prenom, {'attr':{'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.numResident) }}
    {{ form_widget(form.numResident, {'attr':{'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.famille) }}
    {{ form_widget(form.famille, {'attr':{'class': 'custom-select', 'id':'inputGroupSelect01'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.numChambre) }}
    {{ form_widget(form.numChambre, {'attr':{'class': 'custom-select', 'id':'inputGroupSelect01'}}) }}
</div>
{{ form_widget(form) }}
<button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
